In [1]:
print('My name is {}'.format('Aaditya'))

My name is Aaditya

In [2]:
a=14
b=20
print('The sum of {} & {} is {}'.format(a,b,a+b))

The sum of 14 & 20 is 34

In [3]:
a=14
b=20
print('The difference of {} & {} is {}'.format(a,b,b-a))

The difference of 14 & 20 is 6

In [4]:
a=14
b=20
print('The difference of {} & {} is {}'.format(a,b,a-b))

The difference of 14 & 20 is -6

In [5]:
Name = 'Aadi'
a = 4
b = 3
Tuple_type_Var = ( Name, a, b)

In [6]:
print(Tuple_type_Var)

('Aadi', 4, 3)

In [7]:
MyList = list([1, (Tuple_type_Var)])
MyList

[1, ('Aadi', 4, 3)]

In [8]:
MySet = set()
MySet.add(20)
MySet.add(Tuple_type_Var)
MySet

{('Aadi', 4, 3), 20}

In [10]:
MySet2 = {100}
MySet2

{100}

In [11]:
my_dictionary = {'John' : 34, 'James' : 36, "Mary" : 30, "Ravi" : 45}
my_dictionary

{'John': 34, 'James': 36, 'Mary': 30, 'Ravi': 45}

In [12]:
my_dictionary.keys()

dict_keys(['John', 'James', 'Mary', 'Ravi'])

In [13]:
my_dictionary.values()

dict_values([34, 36, 30, 45])

In [14]:
#Task
CountryList =['India', 'Japan', 'Australia']
CountryList

['India', 'Japan', 'Australia']

In [15]:
CapitalList = ['Delhi', 'Tokyo', 'Canberra']
CapitalList

['Delhi', 'Tokyo', 'Canberra']